body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5dc;
    color: #333; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 2; 
}

.header .logo {
    height: 90px;
    width: 100px;
    margin-bottom: 20px;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label, .signup-form label {
    text-align: left;
    margin: 10px 0 5px;
    width: 100%;
}

.login-form input, .signup-form input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.login-form input:focus, .signup-form input:focus {
    border-color: #0a7d05; 
}

.login-form button, .signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #0a7d05; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form button:hover, .signup-form button:hover {
    background-color: #065a02; 
}

.login-form p, .signup-form p {
    margin-top: 20px;
}

.login-form p a, .signup-form p a {
    color: #0a7d05; 
    text-decoration: none;
    font-weight: bold;
}

.login-form p a:hover, .signup-form p a:hover {
    text-decoration: underline;
}

.toggle-password1 {
    position: absolute;
    right: 30px;
    top: 282px; 
    cursor: pointer;
    color: #0a7d05; 
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 15px; /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 80%;
    position: relative;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input[type="email"] {
    flex: 1;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}

.input-group button {
    padding: 8px 12px; /* Reduced padding */
    background-color: #444944;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #000000;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

/* Add animation for modal */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-out;
}
